<ion-content [fullscreen]="true" class="container-general">
  
   
  <ion-list [inset]="true" style="margin: 5px;">
    <ion-item expand="block" *ngFor="let p of listaPedidos">
      <ion-label >{{p.mesa}}</ion-label>
      <ion-button (click)="abrir(p.productos)">
        <ion-icon   name="eye-outline" ></ion-icon>
      </ion-button>
      <ion-button (click)="terminarPedido(p)">
        <ion-icon name="checkmark-outline" ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- que cada pedido tenga un btn para confirmar o entregar el pedido -->
  <!-- que se abra una modal y pida confirmar la operacion, para mas seguridad -->
  <!-- el click  iria asociado a esa confirmacion -->

  <ion-modal [isOpen]="abierta" id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>Mesas Disponibles</h1>

        <ion-list lines="none" *ngFor="let p of productosCocina">
          <ion-item button="true" detail="false">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>{{p.nombre}} x{{p.cantidad}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-button  (click)="cerrar()">Cerrar</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-toolbar vertical="bottom">
    <ion-icon class="iconFooter" name="person-outline"></ion-icon>
  </ion-toolbar>

</ion-content>
