<ion-content class="container-gral" *ngIf="!abierta"  >

  <ion-toolbar class="ion-no-border toolB" style="position: fixed; z-index: 9999; left: 0; top: 0;" >
    <div class="tool" *ngIf="!enMesa || yaPidio">
      <button (click)="salir()" style="background:transparent; z-index: 1000;">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <h1 class="h1Tool" *ngIf="!enMesa || yaPidio">{{this.cliente != null ? this.cliente.nombre : ''}}</h1>
    </div>

    <div class="tool" *ngIf="enMesa && !yaPidio" style="justify-content: space-evenly;;" >
      <button (click)="salir()" style="background:transparent; z-index: 1000;">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <h1 style="font-family: 'Merienda'; position: relative; font-size: 20px;" *ngIf="enMesa">${{importe}} - Tiempo: {{totalTiempo}} mins</h1>
      <button *ngIf="enMesa" (click)="enviarPedido()" style="background:transparent; z-index: 1000;">
        <ion-icon name="cart-outline" class="iconSalir" style="right: 0%;"></ion-icon>
      </button>
    </div>
  </ion-toolbar>

  <!-- home1 --> 
  <div class="texto" style="height: 40%;" *ngIf="!ingreso">
    <h1>¡Bienvenidx!</h1>
    <h2>Escanee el QR para ingresar a la lista de espera.</h2>
  </div>

  <div class="divScan" *ngIf="!ingreso">
    <ion-button (click)="startScan()" class="btnScan">
      <img src="assets/codigo-qr.png" style="height: 90%; width: 80%; padding: 10px;">
    </ion-button>
  </div>

  <!-- home2 --> 

  <ion-fab slot="fixed" class="fabQr" *ngIf="enMesa && !yaPidio">
    <ion-fab-button (click)="startScan()" style="--background:#64B5F6">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start" *ngIf="(yaPidio || !enMesa) && ingreso" >
    <ion-fab-button (click)="startScan()" style="--background:#64B5F6" [disabled]="this.cliente.espera && this.cliente.mesa == ''">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <!-- escaneo ingreso, funcionalidad 3 y 4 -->
  <div *ngIf="ingreso && !enMesa" style="height: 100%; align-items: center; justify-content: space-evenly; display: flex; flex-direction: column;">                              
    <div class="texto" style="height: 100%;">
      <h1 *ngIf="this.cliente.espera">Usted se encuentra en lista de espera...</h1>
      <h1 *ngIf="this.cliente.mesa != ''">Su mesa asignada es la número {{cliente.mesa}}</h1>

      <div class="listaEnc">
        <h1>Encuestas</h1>
        <div style="overflow-y: auto; width: 100%;">
          <div *ngFor="let e of encuestas" class="texto encuestas">
            <h1>{{e.cliente}}</h1>
            <p>{{e.experiencia}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- home3 -->
  <div *ngIf="enMesa">                      <!-- escaneo mesa, funcionalidad 6 y 7 -->
    <ion-segment *ngIf="!yaPidio" class="bottom-segment" [(ngModel)]="selectedTab">
      <ion-segment-button class="segment-button" value="tab1">COMIDAS</ion-segment-button>
      <ion-segment-button class="segment-button" value="tab2">BEBIDAS</ion-segment-button>
      <ion-segment-button class="segment-button" value="tab3">POSTRES</ion-segment-button>
    </ion-segment>

    <div *ngIf="!yaPidio" class="py-5">
      <div *ngIf="selectedTab === 'tab1'" >
        <div *ngFor="let p of comidas" class="productos" >
          <div  class="contenedor-productos">
            <div>
              <h1 class="texto">{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3 class="texto">${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)" class="agQu"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)" class="agQu"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'tab2'" >
        <div *ngFor="let p of bebidas" class="productos" >
          <div  class="contenedor-productos">
            <div>
              <h1 class="texto">{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container  pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3 class="texto">${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)" class="agQu"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)" class="agQu"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'tab3'" >
        <div *ngFor="let p of postres" class="productos">
          <div  class="contenedor-productos">
            <div>
              <h1 class="texto">{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3 class="texto">${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)" class="agQu"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)" class="agQu"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-fab slot="fixed" class="fabChat" *ngIf="enMesa && !yaPidio">
      <ion-fab-button (click)="irA('chat-cliente')" style="--background:#64B5F6">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <!-- home4 -->

  <div *ngIf="yaPidio && !abrirModal" style="height: 100%; justify-content: space-evenly; align-items: center; display: flex; flex-direction: column; text-align: center;">
    <div *ngIf="estadoPedido === 'pendiente'" class="cuadroPendiente">
      <h1 class="texto" style="font-size: 30px;">EL ESTADO DE SU PEDIDO: PENDIENTE.</h1>
      <h1 class="texto" style="font-size: 30px;">Use el scanner para ver el cambio de estado de su pedido.</h1>
    </div>

    <div class="divJuegoEnc" *ngIf="estadoPedido !== 'pendiente' && estadoPedido !== 'pagado'">
      <h1 *ngIf="estadoPedido !== 'entregado' && estadoPedido !== 'pendiente'" class="texto">ESTADO DE SU PEDIDO: {{estadoPedido.toUpperCase()}}</h1> 
      <ion-button (click)="irA('inicio-juegos')" class="btnJuEn">
          <img src="assets/juegos.png" >
        </ion-button>
        <!-- deshabilitar el btn encuesta una vez que ya la completo -->
        <ion-button *ngIf="!cliente.encuesta" (click)="irA('clientes')" class="btnJuEn"> 
          <img src="assets/satisfaccion.png">
        </ion-button>
        <!-- tiene que redirigir a una page que muestre los graficossssss -->
        <ion-button *ngIf="cliente.encuesta" (click)="irA('graficos')" class="btnJuEn"> 
          <img src="assets/investigacion.png">
        </ion-button>
    </div>

    <ion-button *ngIf="estadoPedido === 'recibido'" (click)="abrirModal = true"  class="pedirCuenta">PEDIR CUENTA</ion-button>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="yaPidio">
      <ion-fab-button (click)="irA('chat-cliente')" style="--background:#64B5F6">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


  <ion-modal [isOpen]="modalAbierto" *ngIf="!abierta" id="example-modal" #modal trigger="open-custom-dialog" style="--background:#ADE8F4;">
    <ng-template>
      <div *ngIf="estadoPedido === 'entregado'" class="wrapper modal">
        <h1 class="texto">Recibio el pedido?</h1>
        <div style=" display: flex; flex-direction: column;">
          <ion-button (click)="confirmar()" style="--background: transparent;">
            <img src="assets/si.png" alt="">
          </ion-button>
          <ion-button (click)="modalAbierto = false" style="--background: transparent;">
            <img src="assets/no.png" alt="">
          </ion-button>
        </div>
      </div>

      <!-- <div *ngIf="estadoPedido === 'recibido'" class="wrapper detalle">
        <div style="width: 100%; height: auto; background-color: transparent;position: relative; text-align: center;">
          <ion-item *ngFor="let p of miPedido.productos">
            <ion-label class="texto">{{p.nombre}} ${{p.precio}}</ion-label>
          </ion-item>

          <ion-label class="texto">Subtotal: ${{miPedido.precio}}</ion-label>
          <ion-label class="texto">Descuento: ${{calcularTotal(cliente.descuento)}}</ion-label>
          <ion-label class="texto">Propina: ${{calcularTotal(cliente.propina)}}</ion-label>
        </div>
        <div style="width: 100%; height: auto; background-color: #0077B6;">
          <ion-label class="texto" style="font-weight: bold;">TOTAL = ${{miPedido.precio + calcularTotal(cliente.propina) - calcularTotal(cliente.descuento)}}</ion-label>
        </div>

        <div>
          <ion-button (click)="pagar()">PAGAR</ion-button>
          <ion-button (click)="modalAbierto = false">CANCELAR</ion-button>
        </div>

        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button style="--background:#64B5F6" (click)="startScan()">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div> -->
      <div *ngIf="estadoPedido === 'pagado'" class="wrapper modal">
        <h1 class="texto">Espere la confirmación del mozo</h1>
      </div>
    </ng-template>
  </ion-modal>

  <div *ngIf="!abierta && abrirModal">
    <div *ngIf="estadoPedido === 'recibido'" class="wrapper detalle">
      <div style="width: 100%; height: auto; background-color: transparent;position: relative; text-align: center;">
        <ion-item *ngFor="let p of miPedido.productos">
          <ion-label class="texto">{{p.nombre}} ${{p.precio}}</ion-label>
        </ion-item>

        <ion-label class="texto">Subtotal: ${{miPedido.precio}}</ion-label>
        <ion-label class="texto">Descuento: ${{calcularTotal(cliente.descuento)}}</ion-label>
        <ion-label class="texto">Propina: ${{calcularTotal(cliente.propina)}}</ion-label>
      </div>
      <div style="width: 100%; height: auto; background-color: #0077B6;">
        <ion-label class="texto" style="font-weight: bold;">TOTAL = ${{miPedido.precio + calcularTotal(cliente.propina) - calcularTotal(cliente.descuento)}}</ion-label>
      </div>

      <div>
        <ion-button (click)="pagar()">PAGAR</ion-button>
        <ion-button (click)="abrirModal = false">CANCELAR</ion-button>
      </div>

      <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button style="--background:#64B5F6" (click)="startScan()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
    </div>
  </div>
</ion-content>

<div *ngIf="mostrarSpinner" class="spinner-container">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img class="spinner image-spinner" src="assets/logo.png">
  </div>
</div>

<ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="abierta">
  <ion-fab-button (click)="stopScan()" style="--background:#64B5F6">
    <ion-icon name="close-circle-outline"></ion-icon>  
  </ion-fab-button>
</ion-fab>
