.container-gral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --background: url('../../../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    --color: black;
    width: 100%;
}

.divScan{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.btnScan{
    --background: #64B5F6;
    width: 80%;
    height: 80%;
}

.tool{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:transparent; 
    height: 100%;
}

.toolB{
    --background: #64B5F6;
}

.iconSalir{
    color:#fff; 
    font-size: 2rem; 
    right: 0%; 
    margin: 5px;
}

.texto{
    flex-direction: column;
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Merienda';
    font-weight: bold;
}

.h1Tool{
    width: 100%; 
    position: absolute; 
    font-family: 'Merienda'; 
}

.divJuegoEnc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.btnJuEn{
    --background: #64B5F6;
    width: 80%;
    height: 35%;
    margin: 10px;
}

.encuestas{
    background-color: #E3F2FD;
    color: #03045E;
}

ion-footer{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0%;
}

.iconFooter{
    color:black;
    display: flex;
    position: relative;
    width: 10%;
}

swiper-container{
    height: 40%;
    width: 95%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

///////////
.segment-button {
    background-color: #0e1f0e;
    color: #ff0000; /* Color de texto no seleccionado */
}

.segment-button-checked {
  color: #00ff00; /* Color de texto seleccionado */
}

.contenedor-productos{
    text-align: center;
}

.fab{
    --background: #ADE8F4;
}