.container-gral{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --background: #FCD5CE;
    --color: black;
    width: 100%;
}

ion-footer{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0%;
}

.iconFooter{
    color:black;
    display: flex;
    position: relative;
    width: 10%;
}

swiper-container{
    height: 40%;
    width: 95%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

///////////
.segment-button {
    background-color: #0e1f0e;
    color: #ff0000; /* Color de texto no seleccionado */
}

.segment-button-checked {
  color: #00ff00; /* Color de texto seleccionado */
}