.container-gral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --background: url('../../../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    --color: black;
    width: 100%;
}

.divScan{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.btnScan{
    --background: #64B5F6;
    width: 80%;
    height: 80%;
}

.tool{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background:transparent; 
    height: 100%;
}

.toolB{
    --background: #64B5F6;
}

.iconSalir{
    color:#fff; 
    font-size: 2rem; 
    margin: 5px;
    position: relative;
    display: flex;
}

.texto{
    flex-direction: column;
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Merienda';
    font-weight: bold;
}

.h1Tool{
    width: 100%; 
    position: absolute; 
    font-family: 'Merienda'; 
}

.divJuegoEnc{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.btnJuEn{
    --background: #64B5F6;
    width: 80%;
    height: 35%;
    margin: 3px;
}

.encuestas{
    background-color: #E3F2FD;
    color: #03045E;
    width: 90%;
    border: 2px solid #03045E;
    border-radius: 10px;
}

.listaEnc{
    background-color: #0077B6;
    width: 97%;
    border: 2px solid #03045E;
    height: 60%;
    max-height: 60%;
    align-items: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column;
    border-radius: 10px;
}

.productos{
    background-color: #E3F2FD;
    color: #03045E;
    width: 95%;
    border: 2px solid #03045E;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

.fabQr {
    position: fixed;
    bottom: 9.5%; /* Ajusta según sea necesario */
    left: 3%; /* Ajusta según sea necesario */
    z-index: 9999; /* Ajusta según sea necesario para evitar superposiciones */
}

.fabChat{
    position: fixed;
    bottom: 9.5%; /* Ajusta según sea necesario */
    right: 3%; /* Ajusta según sea necesario */
    z-index: 9999; /* Ajusta según sea necesario para evitar superposiciones */
}


ion-footer{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0%;
}

.iconFooter{
    color:black;
    display: flex;
    position: relative;
    width: 10%;
}

swiper-container{
    height: 40%;
    width: 95%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

///////////
.segment-button {
    background-color: #64B5F6;
    color: #fff; /* Color de texto no seleccionado */
    font-family: 'Merienda';
}

.segment-button-checked {
  color: #03045E; /* Color de texto seleccionado */
  font-weight: bold;

}

.contenedor-productos{
    text-align: center;
}

.fab{
    --background: #ADE8F4;
}

.agQu{
    --background:#64B5F6;
    --border-radius: 15px;
    margin: 8px;
}




.bottom-segment {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Ajusta esto según sea necesario para evitar superposiciones */
    background-color: #fff; /* Color de fondo deseado */
    border-top: 1px solid #ccc; /* Línea divisoria opcional */
}

.pedirCuenta{
    width: 100%;
    --background:#64B5F6;
}

.modal{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cuadroPendiente{
    height: 70%;
    width: 90%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    background: #CAF0F8;
    border: 3px solid #023E8A;
    border-radius: 10px;
}

.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}






.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 70, 70, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

.image-spinner{
    width: 50%;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

