<ion-content class="container-gral" *ngIf="!abierta"  style="min-height: 100vh;">
  <ion-toolbar class="ion-no-border toolB">
    <div class="tool">
      <button (click)="salir()" style="background:transparent; z-index: 1000;">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <h1 class="h1Tool" *ngIf="enMesa">${{importe}} - Tiempo: {{totalTiempo}} mins</h1>
      <h1 class="h1Tool">{{this.cliente != null ? this.cliente.nombre : ''}}</h1>
    </div>
  </ion-toolbar>

  <!-- home1 --> 
  <div class="texto" style="height: 40%;" *ngIf="!ingreso">
    <h1>¡Bienvenidx!</h1>
    <h2>Escanee el QR para ingresar a la lista de espera.</h2>
  </div>

  <div class="divScan" *ngIf="!ingreso">
    <ion-button (click)="startScan()" class="btnScan">
      <img src="assets/codigo-qr.png" style="height: 90%; width: 80%; padding: 10px;">
    </ion-button>
  </div>

  <!-- home2 --> 

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="startScan()" style="--background:#64B5F6">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="ingreso && !enMesa">                              <!-- escaneo ingreso, funcionalidad 3 y 4 -->
    <div class="texto">
      <h1 >Usted se encuentra en lista de espera...</h1>
      <h1 *ngIf="cliente.mesa != ''">Su mesa asignada es la número {{cliente.mesa}}</h1>

      <div *ngFor="let e of encuestas" class="texto encuestas">
        <h1>{{e.cliente}}</h1>
        <p>{{e.experiencia}}</p>
      </div>
    </div>
  </div>
  
  <!-- <ion-button (click)="startScan()" class="btnJuEn">
    <img src="assets/juegos.png" style="height: 90%; width: 80%; padding: 10px;">
  </ion-button>
  <ion-button (click)="startScan()" class="btnJuEn">
    <img src="assets/codigo-qr.png" style="height: 90%; width: 80%; padding: 10px;">
  </ion-button> -->

  <div *ngIf="enMesa">                      <!-- escaneo mesa, funcionalidad 6 y 7 -->
    <ion-segment *ngIf="!yaPidio" vertical="bottom" slot="bottom" [(ngModel)]="selectedTab">
      <ion-segment-button class="segment-button" value="tab1">COMIDAS</ion-segment-button>
      <ion-segment-button class="segment-button" value="tab2">BEBIDAS</ion-segment-button>
      <ion-segment-button class="segment-button" value="tab3">POSTRES</ion-segment-button>
    </ion-segment>

    <div *ngIf="!yaPidio">
      <div *ngIf="selectedTab === 'tab1'" >
        <div *ngFor="let p of listaProductos">
          <div *ngIf="p.tipo == 'comida'" class="contenedor-productos">
            <div>
              <h1>{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container navigation="true" pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3>${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'tab2'" >
        <div *ngFor="let p of listaProductos">
          <div *ngIf="p.tipo == 'bebida'" class="contenedor-productos">
            <div>
              <h1>{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container navigation="true" pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3>${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'tab3'" >
        <div *ngFor="let p of listaProductos">
          <div *ngIf="p.tipo == 'postre'" class="contenedor-productos">
            <div>
              <h1>{{p.nombre}}</h1>
            </div>
            <div>
              <swiper-container navigation="true" pagination="true" loop="true" class="py-2">
                <swiper-slide>
                  <img [src]="p.fotos[0]">
                </swiper-slide>  
                <swiper-slide>
                  <img [src]="p.fotos[1]">
                </swiper-slide> 
                <swiper-slide>
                  <img [src]="p.fotos[2]">
                </swiper-slide> 
              </swiper-container>
            </div>
            <div>
              <h3>${{p.precio}} - Tiempo de elaboracion: {{p.tiempo}} mins</h3>
            </div>
            <div>
              <ion-button (click)="elegirProducto(true, p)"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button (click)="elegirProducto(false, p)"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>

      <ion-button (click)="enviarPedido()">ENVIAR PEDIDO</ion-button>
    </div>

    <ion-fab horizontal="end" vertical="bottom">
      <ion-fab-button routerLink="/chat">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div *ngIf="yaPidio">
    <label *ngIf="estadoPedido !== 'entregado'">ESTADO DE SU PEDIDO: {{estadoPedido.toUpperCase()}}</label>
    <ion-button routerLink="/juegos">Juegos</ion-button>
    <ion-button>Encuestas</ion-button>
    <ion-button *ngIf="estadoPedido === 'entregado'" (click)="mostrarDetalle()">PEDIR CUENTA</ion-button>

    <!-- HACER MODAL PARA EL DETALLE DE LA CUENTA -->
    <div *ngIf="estadoPedido === 'recibido'">
      <ion-button (click)="pagar()">PAGAR</ion-button>
    </div>
  </div>
</ion-content>