<ion-content [fullscreen]="true" class="container-general">
  <ion-toolbar class="ion-no-border toolB" style="position: relative; z-index: 9999; left: 0; top: 0;" >
    <div class="tool">
      <button style="background:transparent; z-index: 1000;" routerLink="/inicio-juegos">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <h1 class="h1Tool">Puntos: {{puntuacion}}/10</h1>
    </div>
  </ion-toolbar>

  <div class="gral" *ngIf="jugando">
    <div class="buttons">
      <button class="square" *ngFor="let color of colors" [ngClass]="color" (click)="handleButtonClick(color)"></button>
    </div>
  </div>


  <ion-button class="btnInicio" *ngIf="!jugando" (click)="iniciar()">
    <img class="centrar-imagen" src="assets/iniciar.png" >
  </ion-button>

</ion-content>

