.divContenedor{
    margin: 5px;
    background: #CAF0F8;
    border: 3px solid #023E8A;
    border-radius: 10px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.texto{
    flex-direction: column;
    display: flex;
    text-align:justify;
    align-items: center;
    font-family: 'Merienda';
    color:#000;
    //font-weight: bold;
}