<ion-content class="contenedor" [fullscreen]="true">
  <ion-list>
    <ion-item-sliding style="width: auto;" *ngFor="let item of items; let index">
      <ion-item>
        <ion-label class="nombre">{{item.apellido}} {{item.nombre}} - DNI: {{item.dni}}</ion-label>
        <ion-img class="image" [src]="item.foto"></ion-img>
      </ion-item>
  
      <ion-item-options class="options" side="end">
        <ion-item-option class="option-b" color="success">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="decidir(true, item)" class="option" color="success">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options (click)="decidir(false, item)" class="options" side="start">
        <ion-item-option class="option" color="danger">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option class="option-b" color="danger">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-button (click)="send()">PRUEBA</ion-button>

<ion-fab color="danger">
  <ion-fab-button>
    <ion-icon name="power-outline" (click)="salir()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>