<ion-content class="contenedor" [fullscreen]="true">

  <ion-toolbar class="ion-no-border toolB" style="position: relative; z-index: 9999; left: 0; top: 0;" >
    <div class="tool">
      <button (click)="salir()" style="background:transparent; z-index: 1000;">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <h1 class="h1Tool" style="font-family: 'Merienda'; position: relative; font-size: 20px;">{{this.duenio != null ? this.duenio.nombre : ''}}</h1>
    </div>
  </ion-toolbar>

  <ion-list>
    <ion-item-sliding style="width: auto;" *ngFor="let item of items; let index">
      <ion-item>
        <ion-label class="nombre">{{item.apellido}} {{item.nombre}} - DNI: {{item.dni}}</ion-label>
        <ion-img class="image" [src]="item.foto"></ion-img>
      </ion-item>
  
      <ion-item-options class="options" side="end">
        <ion-item-option class="option-b" color="success">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="decidir(true, item)" class="option" color="success">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options (click)="decidir(false, item)" class="options" side="start">
        <ion-item-option class="option" color="danger">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option class="option-b" color="danger">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-button (click)="send()">PRUEBA</ion-button> -->
</ion-content>
