<ion-content class="container-gral">
  <div id="image">
      <img class="scale-up-center" src="assets/logo.png">
  </div>

  <div class="inputs">
      <ion-input type="email" [(ngModel)]="email" label="Correo electrónico" label-placement="floating" fill="outline" errorText="Correo electrónico inválido!" ngModel email></ion-input>
      <ion-input type="password" [(ngModel)]="clave" label="Contraseña" label-placement="floating" fill="outline" errorText="Contraseña inválida!" ngModel [minlength]=6></ion-input>
      <div class="btns">
          <ion-button id="limpiar" fill="outline" (click)="limpiarCampos()">Limpiar</ion-button>
          <ion-button id="ingresar" fill="outline" (click)="ingresar()">Ingresar</ion-button>
      </div>
      <ion-button class="button-pick" fill="outline" (click)="ingresarAnonimo()">Ingresar como anónimo</ion-button>
  </div>

  <!-- HACER VALIDACIONES DE FORMS VALIDATORS -->

  <div class="divBtnPick">
      <ion-button class="button-pick" (click)="email = 'atienzotomi@gmail.com'; clave = '111111'">INGRESAR COMO CLIENTE PRECARGADO</ion-button>
  </div>

  <div class="ion-padding">
      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button (click)="email = 'juan@juan.com'; clave = '11111111'">
            <img src="assets/usuarios/cocinero.png">
          </ion-fab-button>
          <ion-fab-button (click)="email = 'gal@gal.com'; clave = '11111111'">
            <img src="assets/usuarios/camarera.png">
          </ion-fab-button>
          <ion-fab-button (click)="email = 'lau@lau.com'; clave = '11111111'">
            <img src="assets/usuarios/recepcionista.png">
          </ion-fab-button>
          <ion-fab-button (click)="email = 'mari@mari.com'; clave = '11111111'">
            <img src="assets/usuarios/barman.png">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="clienteFab" (click)="email = 'tomi.gauna08@gmail.com'; clave = '1111111'">
      <img src="assets/usuarios/hombre.png">
    </ion-fab-button>
  </ion-fab>

<div *ngIf="mostrarSpinner" class="spinner-container">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img class="spinner image-spinner" src="assets/logo.png">
  </div>
</div>

<audio id="audio" src="assets/audios/ingreso.mp3">
</audio>