<ion-content [fullscreen]="true" class="container-general">
  <ion-toolbar class="ion-no-border toolB" style="position: relative; z-index: 9999; left: 0; top: 0;" >
    <div class="tool">
      <button style="background:transparent; z-index: 1000;" routerLink="/homeClientes">
        <ion-icon name="arrow-undo-outline"  class="iconSalir"></ion-icon>
      </button>
      <!-- <h1 class="h1Tool">Home Cocina</h1> -->
    </div>
  </ion-toolbar>

  <div class="btnsJuegos">
    <ion-button class="btnJuego" routerLink="/preguntados">
      <img class="centrar-imagen" src="assets/preguntados.png" >
    </ion-button>
    <ion-button class="btnJuego" routerLink="/simon-dice">
      <img class="centrar-imagen" src="assets/juego.png" >
    </ion-button>
    <ion-button class="btnJuego" routerLink="/juego-memoria"> 
      <img class="centrar-imagen" src="assets/juegos-de-cartas.png" >
    </ion-button>
  </div>
</ion-content>
