.container-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --background: url('../../../../assets/fondoMetre.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  --color: black;
  width: 100%;
}

.tool{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background:transparent; 
  height: 100%;
  width: 100%;
}

.toolB{
  --background: #64B5F6;
}

.iconSalir{
  color:#fff; 
  font-size: 2rem; 
  margin: 5px;
  position: relative;
  display: flex;
}

.iconAgregar{
  color:#fff; 
  font-size: 2rem; 
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 5px;
}

.texto{
  flex-direction: column;
  display: flex;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Merienda';
  font-weight: bold;
}

.h1Tool{
  width: 100%; 
  position: absolute; 
  font-family: 'Merienda'; 
}


.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ion-modal {
//   --height: auto;
// }

.btnAlta{
  width: 90%;
  height: 20%;
  margin: 5px;
}

.asignar{
  height: auto;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ADE8F4;
  border: 3px solid #0077B6 ;
  border-radius: 10px;
  bottom: 3%;
}

.divContenedor{
  margin: 5px;
  background: #CAF0F8;
  border: 3px solid #023E8A;
  border-radius: 10px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}