@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); 

ion-title.ion-text-center 
{
    font-size: 28px;
    font-weight: bold;
    //font-family: Merriweather, sans-serif;
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 37%;
}
  
.message-image {
    width: 30px;
    height: auto;
    margin-left: 5px;

  }

  ion-input {
    color: #ffff;
    font-size: 20px;
    font-family: 'Merienda';
    //font-family: Merriweather, sans-serif;
    //font-weight: bold;
    height: 32px;
    padding: 6px;
  }

  ion-toolbar{

    --background: #0077B6;
    --color: #ffffff;
    font-family: 'Merienda';
    //font-family: Merriweather, sans-serif;
  }

  ion-item{
    --background: #0077B6;
    //font-family: Merriweather, sans-serif;
  }


  .container-gral{
    // display: flex;
    // flex-direction: column;
    background: url('../../../assets/fondoChatMozo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    //font-family: Merriweather, sans-serif;
  }

  .container-gral-sinChat{
    // display: flex;
    // flex-direction: column;
    background: url('../../../assets/fondoMozo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    //font-family: Merriweather, sans-serif;
  }


  .chat-bubble-propio {
    position: relative;
    background-color: #222c73;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    max-width: 40%;
    margin: 10px;
    left: 56%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    //font-family: Merriweather, sans-serif;
  }

  .chat-bubble{
    position: relative;
    background-color: #2f5185;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    max-width: 40%;
    margin: 10px;
    left: 0%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    //font-family: Merriweather, sans-serif;
  }

  // .contenedor-mensajes{
  //   display: flex;
  //   flex-direction: column;
  //   padding: 10px;
  // }

  .span{
    //font-family: Merriweather, sans-serif;
    font-weight: bold;
  }

  .sfecha{
    font-size: 14px;
    //font-family: Merriweather, sans-serif;
  }